<ul class="navigation">
    <li class="navigation__active"><a href="index.html"><i class="zmdi zmdi-home"></i> Home</a></li>

    <li class="navigation__sub @Raw("@@")variantsactive">
        <a href=""><i class="zmdi zmdi-swap-vertical"></i> Check In</a>

        <ul>
            <li class="@Raw("@@")active"><a href="">Checkin Single Room</a></li>
            <li class="@Raw("@@")active"><a href="">Checkin Multi Room</a></li>
            <li class="@Raw("@@")active"><a href="">Checkin Booking</a></li>
        </ul>
    </li>

    <li class="navigation__sub @Raw("@@")typeactive">
        <a href=""><i class="zmdi zmdi-format-underlined"></i> Booking</a>
    
        <ul>
            <li class="@Raw("@@")active"><a href="">Create Booking</a></li>
            <li class="@Raw("@@")active"><a href="">List Booking</a></li>
            <li class="@Raw("@@")active"><a href="">Cancel Booking</a></li>
        </ul>
    </li>

    <li class="navigation__sub @Raw("@@")widgetactive">
        <a href=""><i class="zmdi zmdi-account"></i> Tamu</a>

        <ul>
            <li class="@Raw("@@")active"><a href="">Daftar Tamu Menginap</a></li>
            <li class="@Raw("@@")active"><a href="">Daftar Tamu</a></li>
        </ul>
    </li>

    <li class="navigation__sub @Raw("@@")widgetactive">
        <a href=""><i class="zmdi zmdi-money"></i> Kasir</a>

        <ul>
            <li class="@Raw("@@")active"><a href="">Pembayaran Tamu</a></li>
            <li class="@Raw("@@")active"><a href="">Buka / Tutup Transaksi</a></li>
            <li class="@Raw("@@")active"><a href="">Pengeluaran</a></li>
        </ul>
    </li>

    <li class="navigation__sub @Raw("@@")widgetactive">
        <a href=""><i class="zmdi zmdi-trending-up"></i> Laporan</a>

        <ul>
            <li class="@Raw("@@")active"><a href="">Check In/Out</a></li>
            <li class="@Raw("@@")active"><a href="">Booking</a></li>
            <li class="@Raw("@@")active"><a href="">Statistik Tamu</a></li>
            <li class="@Raw("@@")active"><a href="">Keuangan</a></li>
        </ul>
    </li>

    <li class="navigation__sub @Raw("@@")widgetactive">
        <a href=""><i class="zmdi zmdi-widgets"></i> Room</a>

        <ul>
            <li class="@Raw("@@")active"><a href="">Room Type</a></li>
            <li class="@Raw("@@")active"><a href="">Room Setup</a></li>
            <li class="@Raw("@@")active"><a href="">Room Plan</a></li>
            <li class="@Raw("@@")active"><a href="">Room Rates</a></li>
            <li class="@Raw("@@")active"><a href="">Season</a></li>
            <li class="@Raw("@@")active"><a href="">Rates Type</a></li>
            <li class="@Raw("@@")active"><a href="">Rates Discount</a></li>
        </ul>
    </li>
</ul>