<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    @Include("Layout/Parts/BaseCSS.cshtml")
</head>

<body data-ma-theme="blue-grey">
    <main class="main">
        @Include("Layout/Parts/PageLoader.cshtml")

        <header class="header">
            @Include("Layout/Parts/TitleNav.cshtml")
            @Include("Layout/Parts/SearchNav.cshtml")
            @Include("Layout/Parts/TopNav.cshtml")
        </header>

        <aside class="sidebar">
            <div class="scrollbar-inner">
                @Include("Layout/Parts/Userinfo.cshtml")
                @Include("Layout/Parts/Menubar.cshtml")
            </div>
        </aside>

        @Include("Layout/Parts/Chatbar.cshtml")

        <section class="content">
            @RenderBody()
        </section>
    </main>

    @Include("Layout/Parts/IEWarn.cshtml")
    @Include("Layout/Parts/BaseJS.cshtml")
</body>
</html>